[submodule "matrix/googletest"]
	path = matrix/googletest
	url = https://github.com/google/googletest
[submodule "SplitOrderedList/googletest"]
	path = SplitOrderedList/googletest
	url = https://github.com/google/googletest
